
.Note{
    width: 100%;
    margin-bottom: 80px;
    background-color: #E8CD98;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    height: 100%;
     
}

.produtos{
    width: 340px;
    height: 410px;
    margin-bottom: 20px;
}

.notetitle{
    width: 430px;
    display: flex;
    justify-content: left;
    font-family: Roboto Slab;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-left: 100px;
}

.notedescription{
    display: flex;
    width: 430px;
    justify-content: left;
    font-family: Roboto Slab;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin-left: 101px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px 0px #00000040;
    height: 65px;
    width: 257px;
    margin-top: 30px;
    background-color: #6F4834;
    border-radius: 10px;
    border-style: hidden;
    }

.button:hover{
    background-color: #D7F80D;
    }

.selecionar{
    display: flex;
    color: #FFF7DE;
    font-family: Roboto Slab;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    }

    .nome{
        color: #000;
    }

    .valor{
        color: #6F4834;
    }

@media (max-width:420px){
    .Note{
        
        width: 100%;
        margin-bottom: 80px;
        margin-left: 0;
        background-color: #E8CD98;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
     
    }
    .notedescription{
        display: flex;
        width: 70%;
        justify-content: center;
        font-family: Roboto Slab;
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        margin-right: 26%;
    }
    .notetitle{
        width: 80%;
        display: flex;
        justify-content: center;
        font-family: Roboto Slab;
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: -10px;
        margin-right: 27%;
    }
    
}