.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #FFF7DE;
    margin-top: 5%;
    margin-bottom: 14%;
    box-shadow: 5px 5px 5px rgb(131, 127, 127);
    border-radius: 10px;
}

.base_login{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%; 
    background-color: transparent;
}
.fundo{
    background-color: #E8CD98;
    height: 100%;
}
.texto{
    color: #6E4834;
    margin-left: 1px; 
    height: 10px;
    font-size: 20px;
    font-family: 'Roboto Slab'; 
}

.texto2 {
    color: #6E4834;
    height: 30px;
    font-size: 12px;
}
.noteTitle_login{
    margin-top: 8%;
    color: #6E4834; 
    height: 80px;
    font-size: 50px;
    font-family: 'Roboto Slab'; 
    align-items: center;
    display: flex;
    flex-direction: column;

}

.botao_login{
    background-color: #685246;
    color: #FFF7DE;
    font-family: 'Robot Slab';
    font-weight: SemiBold;
    width: 35%;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    border: 0;
    top: 100%;
    margin-bottom: 40%; 
    margin-left:35%
}
.botaolink{
    color: #6E4834;
    background-color: transparent;
    border-color: transparent;
}
@media (max-width:420px){
    .Container{
        margin-top: 30%;
        margin-bottom: 140%;
    }
    .noteTitle_login{
        font-size: 30px ;
        margin-top: 10%;
    }
    .texto{
        font-size: 15px;
    }
    .base_login
{
        margin-left: 8%;
        margin-right: 8%;
    }
    .texto2{
        font-size: 10px;
        margin-left:15%;
    }

}

@media (min-width:750px){
    .Container{
        margin-bottom: 90%;
        margin-top: 30%;
    }
    .base_login
{
        margin-left: 10%;
        margin-right: 10%;
    }
    .noteTitle_login{
        font-size: 40px;
    }
}
@media(min-width: 1024px){
    .Container{
        margin-top:5%;
        margin-bottom: 5%;

    }
    .base_login
{
        margin-left: 20%;
        margin-right: 20%;
    }
    .noteTitle_login{
        font-size: 40px;
    }
    .texto{
        font-size:20px;
    }
}

@media(min-width: 1200px){
    .Container{
        margin-top:10%;
        margin-bottom: 22%;

    }
    .base_login
{
        margin-left: 20%;
        margin-right: 20%;
    }
    .noteTitle_login{
        font-size: 50px;
    }
    .texto{
        font-size:20px;
    }
}

