.listItemText{
    color: #6F4834;
    margin-left: 5.5%; 
    height: 2.4em;
}

.list{
    width: 60%;
}

.list2{
    width: 65%;
}

.toolBar{
    background-color: #FFF7DE;
    height: 100%;
}

.img{
    margin-bottom: 0.3%;
    margin-right: 5%;
    margin-left: 8.5%;
    height: 129.76px;
    width: 17%;
}

.img2{
    height: 4%;
    width: 14.5%;
}

.h1{
    font-family: 'Roboto Slab', serif; 
    font-size: 2em;
    font-weight: 600;
    line-height: 20%;
}

.appbar{
    display: flex;
}




    