
.container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;

}

.caracol{
    width: 1349px;
}

.note{
    background-color: #E8CD98;
    
}

.noteTitle{
    
    margin-top: 3%;
    color: #6F4834; 
    
}

.noteDescription{
    margin-top: 1.5% ;
}

.texto{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.3em;
    margin-left: 9%;
    margin-right: 8%;
    
    
}

.titulo{
    display: flex;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5em;
    line-height: 1.3em; 
    margin-left: -75%;
}

.baixo{
    display: flex;
    margin-top: 3%;
    padding: 1.6%;

}

.linhaStyle{
    height: 1px;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    background-color: #6F4834;
   
}

.saudavel {
    margin-left: 75%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 260%;
    line-height: 130%;
}

.saboroso {
    margin-left: 140%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 260%;
    line-height: 130%;

    
}

.comida {
    margin-left: 430px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 260%;
    line-height: 130%;
    
}



    