



.paginaFooter
{
  background-color:#9AE200;
  /* padding:80px 0 20px; */
  /* font-size:15px; */
  /* line-height:26px; */
  color:#6E4834;
  /* margin-top: 10%; */
  /* height: 20%; */
  /* box-shadow: 5px 5px 5px rgb(131, 127, 127); */
  /* position:static; */
  /* max-width: 100%;
  max-height: 30%; */
  height:  270px;

} 

.containerFooter{
      
        width: 100%;
        height: 100%;
        background-color: #9AE200;
        display: flex;
        justify-content: row;
        align-items: center;
        /* margin-top: 34%; */
 }


 .containerEsquerda
{
 
   display: flex;
   flex-direction: column;
   width: 60%;
   grid-row-gap: 20%;
   justify-content: center;
   height: 50%;
   padding-left: 12% ;
   word-break: break-word;

}


.containerDireita{
    display: flex;
    flex-direction: column;
    width: 40%;

    padding-left: 5%;

    border-left-width: 5px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: #6E4834;
    border-style: solid;
    height: 80%;
    
}
/* .listItemText
{
        font-size: 30px;
        font-family: 'Roboto Slab';
        font-weight: bold;
        letter-spacing: 0.00938em;
        justify-content: center;
        align-items: center;
    
    

}     */


.text1
{
    font-size: 28px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    letter-spacing: 0.00938em;
    margin-left: 4%;
   
 
}



.iconeTexto1{
    
    display: flex;
    align-items: start;
    flex-direction: row;
    grid-row-gap: 10px; 
    justify-content: center;
    justify-content: start;
    
    
    }
    
     
    .imgWhatsapp{
    /* margin-top: 10%; */
    }
    
    .imgLocal{
        width: 3em;

    }

    .imgFacebook{
        margin-top: 0.5%;
     
    }

    .imgTwitter{
        margin-top: 3%;
        
    }
    
    .imgInstagram{
        margin-top: 3%;
    }
    @media (max-width: 1100px) {
        .containerDireita{
        width: 30%;
        height: 80%;
        }
        
        .containerEsquerda{
            /* width:60%;
            height: 50%; */
            width: 70%;
            height: 10%;
            padding-left: 3% ;
        }
        .paginaFooter{
            height: 300px;
        }
        .containerFooter{
           
        }
        
        .text1{
       
        word-break: 20%;
        font-size: 1.9rem;
        }
        
        .iconeTexto1{
            width: 100%;
        
        }
        
        .caixaTexto{
            width: 100%;
        }
        
        .imgFacebook{
            width: 2.5em;
            height: 2.5em;
            margin-top: 14%;
        }
        .imgInstagram{
            width: 3em;
            height: 3em;
            margin-top: 4%;
        }
        .imgTwitter{
            width: 3em;
            height: 3em;
            margin-top: 5%;
            
        }
        .imgWhatsapp{
            width: 2em;
            height: 2em;
        
        }
        .imgLocal{
            width: 3em;
            height: 2em;
        }
        
        .imgEmail{
            width: 2em;
            height: 1.7em;
        }
        
         }
         
 @media (max-width: 585px) {
.containerDireita{
width: 30%;
height: 80%;
}

.containerEsquerda{
    /* width:60%;
    height: 50%; */
    width: 70%;
    height: 10%;
    padding-left: 3% ;
}
.paginaFooter{
    height: 300px;
}
.containerFooter{
    /* width: 100%;
    height: 100%; */

}

.text1{
/* width: 20%; */
word-break: 20%;
font-size: 1rem;
}

.iconeTexto1{
    width: 100%;

}

.caixaTexto{
    width: 100%;
}

.imgFacebook{
    width: 2.5em;
    height: 2.5em;
    margin-top: 22%;
}
.imgInstagram{
    width: 3em;
    height: 3em;
    margin-top: 22%;
}
.imgTwitter{
    width: 3em;
    height: 3em;
    margin-top: 22%;
    
}
.imgWhatsapp{
    width: 2em;
    height: 2em;

}
.imgLocal{
    width: 3em;
    height: 2em;
}

.imgEmail{
    width: 2em;
    height: 1.7em;
}

 }
 
@media (max-width: 1076px )and(min-width:1100px) {
    .text1{
        font-size: 35px;
    }

    .containerDireita{
        width: 30%;
        height: 80%;

    }

    .containerEsquerda{
        width: 70%;
        height: 10%;
        padding-left: 3% ;

    }

    .imgFacebook{
        margin-top: 25%;
    }
   
}


